**/*.pyc
.vscode/settings.json
openopticalflow.egg-info/dependency_links.txt
openopticalflow.egg-info/PKG-INFO
openopticalflow.egg-info/requires.txt
openopticalflow.egg-info/SOURCES.txt
openopticalflow.egg-info/top_level.txt
